<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            margin-top: 50px;
        }
        input {
            width: 900px;
        }
        table{
            margin-top: 50px;
        }
        td{
            padding: 10px;
        }
        

    </style>
</head>

<body>
    <h1>Diya Patel(24DEV069)</h1>
    <p>(SELECT * FROM pagination)</p>
    <form action="/task7/userdata?page=1" method="post">
        <div class="header">
            <label for="query">Enter query: </label><input type="text" id="query" name="query">
           <button>Search</button>
        </div>
    </form>
    <% if(fields!==false ) { %>
        <table border="1">
            <thead>
                <tr>
                    <% for(var k=0;k<fields.length;k++) { %>
                        <td>
                            <%=fields[k].name %>
                        </td>

                        <% } %>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0;i<user.length;i++) { %>
                    <tr >
                        <% for(var j=0;j<fields.length;j++) { %>
                        <td><%=user[i][fields[j].name]%></td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
        </table>


        <div class="container" style="display: flex;">
            <div class="buttons" style="display: flex; margin: 10px 20px;">
            
                    <form action="/task7/userdata?page=1" method="post">
                        <% if(pageno == 1) { %>
                        <button disabled><<</button>
                        <% } else{ %>
                         <button type="submit"><<</button>
                         <% }%>
                        <input type="hidden" name="query" value="<%=query%>">
                        <input type="hidden" name="fields" value="<%=fields%>">
                    </form>
    
                    <form action="/task7/userdata?page=<%=pageno-1%>" method="post">
                        <% if(pageno == 1) { %>
                            <button disabled><</button>
                            <% } else{ %>
                             <button type="submit"><</button>
                             <% }%>  
                        <input type="hidden" name="query" value="<%=query%>">
                        <input type="hidden" name="fields" value="<%=fields%>">
                    </form>
    
    
                    <button><%= pageno %></button>
    
                    <form action="/task7/userdata?page=<%=pageno+1%>" method="post">
                        <% if(pageno == totalpage) { %>
                            <button disabled>></button>
                            <% } else{ %>
                             <button type="submit">></button>
                             <% }%>  
                        <input type="hidden" name="query" value="<%=query%>">
                        <input type="hidden" name="fields" value="<%=fields%>">
                    </form>
    
                    <form action="/task7/userdata?page=<%=totalpage%>" method="post">
                        <% if(pageno == totalpage) { %>
                            <button disabled>>></button>
                            <% } else{ %>
                             <button type="submit">>></button>
                             <% }%>  
                        <input type="hidden" name="query" value="<%=query%>">
                        <input type="hidden" name="fields" value="<%=fields%>">
                    </form>
            </div>
        </div>

    <% }%>

    
</body>

</html>