<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .tab {
            display: none;
        }

        #prevbutton {
            width: 100px;
            height: 40px;
            font-size: 20px;
            border-radius: 0px solid white;
            margin-top: 2px;
        }

        #nextbutton {
            width: 100px;
            height: 40px;
            font-size: 20px;
            border-radius: 0px solid white;
            margin-top: 2px;
        }

        span {
            color: red;
        }
        
    </style>
</head>

<body>
    <% if(user[0].Fname){%>
        <p><%=user[0].Fname%></p>
        <form action="/task12/updateform" method="post" name="myform" id="form">
            <% } else{ %>
                <form action="/task12/insertform" method="post" name="myform" id="form">
                    <% } %>
                        <h1>Job Application Form</h1>
                        <div class="tab">
                            <fieldset class="fieldset" id="fieldset">
                                <legend>
                                    <h2>Basic Detail</h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="basicid" value="<%=id%>">
                                <label for="First Name ">First Name : </label><input type="text" name="fname" id="fname"
                                    class="basic_check fieldset" value="<%=user[0].Fname%>" /><span
                                    id="error_fname"></span> &emsp;
                                <label for="Last Name ">Last Name : </label><input type="text" name="lname" id="lname"
                                    class="basic_check fieldset" value="<%=user[0].Lname%>"> <span
                                    id="error_lname"></span><br>
                                <br>
                                <label for="Designation ">Designation : </label><input type="text" name="designation"
                                    id="designation" class="basic_check fieldset" value="<%=user[0].Designation%>"><span
                                    id="error_designation"></span> &emsp;
                                <label for="Address1">Address1 :</label> <input type="text" name="address1"
                                    id="address1" class="address_check fieldset" value="<%=user[0].Address_1%>"><span
                                    id="error_address1"></span><br>
                                <br>
                                <label for="Phone Number">Phone Number : </label><input type="text" name="contact_no"
                                    id="contact_no" class="Contact_check fieldset" value="<%=user[0].Phone_No%>"><span
                                    id="contacterror"></span>&emsp;
                                <label for="Address2">Address2 : </label><input type="text" name="address2"
                                    id="address2" class="address_check fieldset" value="<%=user[0].Address_2%>"><span
                                    id="error_address2"></span><br>
                                <br>
                                <label for="Email">Email :</label> <input type="text" name="email" id="email"
                                    class="email_check fieldset" value="<%=user[0].Email%>">
                                <span id="error_email"></span>&emsp;
                                <label for="City ">City :</label> <input type="text" name="city" id="city"
                                    class="address_check fieldset" value="<%=user[0].City%>"><span
                                    id="error_city"></span><br>
                                <br>
                                <label for="Relationship Status">Relationship Status : </label><input type="radio"
                                    name="gender" value="male" class="radio_check " id="male">Male
                                <input type="radio" name="gender" value="female" class="radio_check" id="female">female
                                &emsp; <span id="error_gender"></span>

                                <label for="State">State :</label><select name="state" id="state" class="fieldset" <%
                                    if(user[0].state) { %> value="
                                    <%=user[0].state%>" <% }%>>
                                            <option value="gujarat">Gujarat</option>
                                            <option value="maharashtra">Maharashtra</option>
                                </select><br>
                                <br>
                                <label for="Zip Code">Zip Code</label> <input type="text" name="zipcode" id="zipcode"
                                    class="fieldset" value="<%=user[0].Zip_code%>">
                                <span id="zipcodeerror"></span>
                                <label for="Date of Birth">Date of Birth : </label><input type="text" name="date"
                                    placeholder="YYYY-MM-DD" class="date_check fieldset" id="date" <% if(user[0].DoB) {
                                    %> value ="<%=(user[0].DoB.getFullYear()) + '-' + (user[0].DoB.getMonth() +1) + '-'
                                    + user[0].DoB.getDate()%>" <%} %>><span id="error_date"></span>
                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>Education Detail</h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="educationid" value="<%=id%>">
                                <input type="hidden" name="edu_id" id="edu_id1" value="<%=user2[0].edu_id%>">
                                <label for="board_name">Board Name: </label> <select name="education_detail"
                                    id="education_detail1">
                                    <option value="SSC">SSC</option>
                                    <option value="HSC">HSC</option>
                                    <option value="bachlor">Bachlor</option>
                                    <option value="master">Master</option>
                                </select>
                                <label for="year">Year: </label><input type="text" name="year" id="year1"
                                    class="education_year" value="<%=user2[0].year%>">
                                <label for="percentage">Percentage: </label><input type="text" name="percentage"
                                    id="percentage1" class="education_percentage"
                                    value="<%=user2[0].percentage%>"><br><br>

                                <input type="hidden" name="edu_id" id="edu_id2" value="<%=user2[1].edu_id%>">
                                <label for="board_name">Board Name: </label> <select name="education_detail"
                                    id="education_detail2">
                                    <option value="SSC">SSC</option>
                                    <option value="HSC">HSC</option>
                                    <option value="bachlor">Bachlor</option>
                                    <option value="master">Master</option>
                                </select>
                                <label for="year">Year: </label><input type="text" name="year" id="year2"
                                    class="education_year" value="<%=user2[1].year%>">
                                <label for="percentage">Percentage: </label><input type="text" name="percentage"
                                    id="percentage2" class="education_percentage"
                                    value="<%=user2[1].percentage%>"><br><br>

                                <input type="hidden" name="edu_id" id="edu_id3" value="<%=user2[2].edu_id%>">
                                <label for="board_name">Board Name: </label> <select name="education_detail"
                                    id="education_detail3">
                                    <option value="SSC">SSC</option>
                                    <option value="HSC">HSC</option>
                                    <option value="bachlor">Bachlor</option>
                                    <option value="master">Master</option>
                                </select>
                                <label for="year">Year: </label><input type="text" name="year" id="year3"
                                    class="education_year" value="<%=user2[2].year%>">
                                <label for="percentage">Percentage: </label><input type="text" name="percentage"
                                    id="percentage3" class="education_percentage"
                                    value="<%=user2[2].percentage%>"><br><br>
                                <span id="education_year_error"></span> <br>
                                <span id="education_percentage_error"></span>

                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>Work Experience</h2>
                                </legend>
                                <label for="Company name ">Company name : </label><input type="text" name="company1"
                                    id="company1" class="company_check" value="<%=user3[0].company1_Name%>"><span
                                    id="error_company1"></span>
                                &emsp;
                                <label for="Designation">Designation : </label><input type="text" name="Designation1"
                                    id="designation1" class="designation_check"
                                    value="<%=user3[0].company1_Designation%>">
                                &emsp;<span id="error_Designation1"></span>
                                <label for=" From"> From :</label> <input type="text" name="from1" id="from1"
                                    class="datefrom_check" <% if(user3[0].company1_Joiningdate){%> value="<%=(user3[0].company1_Joiningdate.getFullYear())+ '-' +(user3[0].company1_Joiningdate.getMonth() +1) + '-'+user3[0].company1_Joiningdate.getDate()%>"<% } %>>&emsp;<span
                                            id="error_from1"></span>
                                        <label for="To">To: </label> <input type="text" name="to1" id="to1"
                                            class="dateto_check" <% if(user3[0].company1_Leavingdate) { %>value ="<%=(user[0].DoB.getFullYear()) + '-' +(user[0].DoB.getMonth() +1) + '-' +user[0].DoB.getDate()%>" <% } %>><span id="error_to1"></span><br>
                                                <br>
                                                <label for=" Company name "> Company name : </label><input type="text"
                                                    name="company2" id="company2" class="company_check"
                                                    value="<%=user3[1].company1_Name%>">&emsp;<span
                                                    id="error_company2"></span>
                                                <label for="Designation">Designation :</label> <input type="text"
                                                    name="designation2" id="designation2" class="designation_check"
                                                    value="<%=user3[1].company1_Designation%>">&emsp;<span
                                                    id="error_designation2"></span>
                                                <label for=" From"> From :</label><input type="text" name="from2"
                                                    id="from2" class="datefrom_check" <%
                                                    if(user3[1].company1_Joiningdate) { %> value = "<%=(user3[1].company1_Joiningdate.getFullYear()) + '-'+(user3[1].company1_Joiningdate.getMonth() +1) + '-'+user3[1].company1_Joiningdate.getDate()%>" <%} %>> &emsp;<span
                                                            id="error_from2"></span>
                                                        <label for="To">To: </label> <input type="text" name="to2"
                                                            id="to2" class="dateto_check" <%
                                                            if(user3[1].company1_Leavingdate) { %> value = "<%=(user3[1].company1_Leavingdate.getFullYear()) + '-'+(user3[1].company1_Leavingdate.getMonth() +1) + '-'+user3[1].company1_Leavingdate.getDate()%>" <%}%>><span
                                                                    id="error_to2"></span><br>
                                                                <br>
                                                                <span id="company_error"></span> <span
                                                                    id="designation_error"></span> <br>
                                                                <span id="joining_error"></span> <span
                                                                    id="leave_error"></span>
                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>Language Known</h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="language_id" value="<%=id%>">
                                <input type="checkbox" name="language[]" value="hindi" id="hindi" class="language[]">
                                <label for="Hindi" class="checkbox_validation ">Hindi</label>
                                <input type="checkbox" name="htype[]" value="read" class="hindi_check "
                                    id="hindiread"><label for="read">read</label>
                                <input type="checkbox" name="htype[]" value="write" class="hindi_check"
                                    id="hindiwrite"><label for="write">write</label>
                                <input type="checkbox" name="htype[]" value="speak" class="hindi_check"
                                    id="hindispeak"><label for=" speak "> speak </label>
                                <span id="hindi_error"></span>
                                <br>
                                <br>
                                <input type="checkbox" name="language[]" value="english" id="english"
                                    class="language[]"><label for="English" class="checkbox_validation">English</label>
                                <input type="checkbox" name="etype[]" value="read" id="englishread"><label for="read"
                                    class="english_check">read</label>
                                <input type="checkbox" name="etype[]" value="write" id="englishwrite"><label for="write"
                                    class="english_check">write</label>
                                <input type="checkbox" name="etype[]" value="speak" id="englishspeak"><label for="speak"
                                    class="english_check">speak</label>
                                <span id="english_error"></span>
                                <br>
                                <br>
                                <input type="checkbox" name="language[]" value="gujarati" id="gujarati"
                                    class="language[]"><label for=" Gujarati" class="checkbox_validation">
                                    Gujarati</label>
                                <input type="checkbox" name="gtype[]" value="read" id="gujaratiread"><label for="read"
                                    class="gujarati_check">read</label>
                                <input type="checkbox" name="gtype[]" value="write" id="gujaratiwrite"><label
                                    for="write" class="gujarati_check">write</label>
                                <input type="checkbox" name="gtype[]" value="speak" id="gujaratispeak"><label
                                    for=" speak" class="gujarati_check"> speak</label>
                                <span id="gujarati_error"></span><br>
                                <span id="language_error"></span>
                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>Technologies you know</h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="technology_id" value="<%=id%>">
                                <input type="checkbox" name="type[]" value="php" class="technology_validation"
                                    id="php"><label for="PHP">PHP</label>
                                <input type="radio" name="ptype[]" value="beginer" class="phptype_validation"
                                    id="phpbeginer"><label for="beginer">beginer</label>
                                <input type="radio" name="ptype[]" value="mideator" class="phptype_validation"
                                    id="phpmideator"><label for="mideator">mideator</label>
                                <input type="radio" name="ptype[]" value="expert" class="phptype_validation"
                                    id="phpexpert"><label for="expert">expert</label> <span
                                    id="phptype_error"></span><br>
                                <br>
                                <input type="checkbox" name="type[]" value="mysql" class="technology_validation"
                                    id="mysql"><label for="mysql">mysql</label>
                                <input type="radio" name="mtype[]" value="beginer" class="mysqltype_validation"
                                    id="mysqlbeginer"><label for="beginer">beginer</label>
                                <input type="radio" name="mtype[]" value="mideator" class="mysqltype_validation"
                                    id="mysqlmideator"><label for="mideator">mideator</label>
                                <input type="radio" name="mtype[]" value="expert" class="mysqltype_validation"
                                    id="mysqlexpert"><label for="expert">expert</label> <span
                                    id="mysqltype_error"></span><br>
                                <br>
                                <input type="checkbox" name="type[]" value="larave" class="technology_validation"
                                    id="larave">
                                <label for="larave">larave</label>
                                <input type="radio" name="ltype[]" value="beginer" class="laravetype_validation"
                                    id="laravebeginer"><label for="beginer">beginer</label>
                                <input type="radio" name="ltype[]" value="mideator" class="laravetype_validation"
                                    id="laravemideator"><label for="mideator">mideator</label>
                                <input type="radio" name="ltype[]" value="expert" class="laravetype_validation"
                                    id="laraveexpert"><label for="expert">expert</label><span
                                    id="laravetype_error"></span> <br>
                                <br>
                                <input type="checkbox" name="type[]" value="oracle" class="technology_validation"
                                    id="oracle"><label for="oracle">oracle</label>
                                <input type="radio" name="otype[]" value="beginer" class="oracletype_validation"
                                    id="oraclebeginer"><label for="beginer">beginer</label>
                                <input type="radio" name="otype[]" value="mideator" class="oracletype_validation"
                                    id="oraclemideator"><label for="mideator">mideator</label>
                                <input type="radio" name="otype[]" value="expert" class="oracletype_validation"
                                    id="oracleexpert"><label for="expert">expert</label><span
                                    id="oracletype_error"></span><br>
                                <span id="technology_error"></span>
                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>Reference Contact</h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="reference_id" value="<%=id%>">
                                <label for="Name">Name :</label> <input type="text" name="name1" id="reference_name"
                                value="<%=user6[0].person_name%>"  class="reference_check ">&emsp;<span id="error_name1"></span>
                                <label for="Contact No ">Contact No : </label><input type="text" name="contact1"
                                    id="reference_contact" class="reference_contact_check"   value="<%=user6[0].person_contactNo%>">&emsp;<span
                                    id="error_contact1"></span>
                                <label for="Relation">Relation : </label><input type="text" name="relation1"
                                    id="reference_relation" class="reference_relation_check" value="<%=user6[0].person_relation%>"><span
                                    id="error_relation1"></span> <br>
                                <br>

                            </fieldset>
                        </div>

                        <div class="tab">
                            <fieldset>
                                <legend>
                                    <h2>
                                        Preferances
                                    </h2>
                                </legend>
                                <input type="hidden" name="edu_id" id="preference_id" value="<%=id%>">
                                <label for="Prefered Location ">Prefered Location </label><input type="text"
                                    name="preferedlocation" id="preferedlocation"   value="<%=user7[0].Prefered_location%>" ><span id="location_error"></span><br>
                                <br>
                                <label for="Notice peroid ">Notice peroid </label><input type="text" name="noticeperiod"
                                value="<%=user7[0].Notice_period%>"   id="noticeperiod"> <br>
                                <br>
                                <label for="Expected CTC">Expected CTC </label><input type="text" name="Expected_CTC "
                                value="<%=user7[0].Expected_CTC%>"  id="Expected_CTC"><span id="ctc_error1"></span>
                                &emsp;
                                <label for="Current CTC ">Current CTC </label><input type="text" name="Current_CTC "
                                value="<%=user7[0].Current_CTC%>"   id="Current_CTC">
                                <br>
                                <br>
                                Department : <select name="dept" id="dept">
                                    <option value="design">Design</option>
                                    <option value="marketing">Marketing</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="button" style="overflow: auto;">
                            <div>
                                <% if(user[0].Fname){%>
                                    <button type="button" id="prevbutton" onclick="fun(-1)">Previous</button>
                                    <button type="button" id="nextbutton" onclick="fun(1)">Next</button>
                                <% } else{ %>    
                                <button type="button" id="prevbutton" onclick="nextprev(-1)">Previous</button>
                                <button type="button" id="nextbutton" onclick="nextprev(1)">Next</button>
                                <% } %>
                            </div>
                        </div>
                </form>
                <script src="/task12/script.js"></script>
                <script>
                    
                    if (`<%=user7[0].Department %>`) {
                        document.getElementById('dept').value = "<%=user7[0].Department %>";
                    }
                    if (`<%=user2[0].board_name%>`) {
                        document.getElementById('education_detail1').value = "<%=user2[0].board_name%>";
                    }
                    if (`<%=user2[1].board_name%>`) {
                        document.getElementById('education_detail2').value = "<%=user2[1].board_name%>"
                    }
                    if (`<%=user2[2].board_name%>`) {
                        document.getElementById('education_detail3').value = "<%=user2[2].board_name%>"
                    }
                    if (`<%=user[0].Gender%>` == "male") {
                        document.getElementById('male').checked = true;
                    }
                    else {
                        document.getElementById('female').checked = true;
                    }

                    let languages = JSON.parse(`<%-JSON.stringify(user4)%>`);
                    console.log(languages);
                    for (let i = 0; i < languages.length; i++) {
                        if (languages[i].language) {
                            console.log(languages[i].language)
                            document.getElementById(`${languages[i].language}`).checked = true;
                            if (languages[i].L_read == "yes") {
                                document.getElementById(`${languages[i].language}read`).checked = true;
                            }
                            if (languages[i].L_write == "yes") {
                                document.getElementById(`${languages[i].language}write`).checked = true;
                            }
                            if (languages[i].L_speak == "yes") {
                                document.getElementById(`${languages[i].language}speak`).checked = true;
                            }
                        }
                    }

                    let technologies = JSON.parse(`<%-JSON.stringify(user5)%>`);
                    console.log(technologies);
                    for (let i = 0; i < technologies.length; i++) {
                        if (technologies[i].tech_name) {
                            document.getElementById(`${technologies[i].tech_name}`).checked = true;
                            if (technologies[i].tech_level == "beginer") {
                                document.getElementById(`${technologies[i].tech_name}beginer`).checked = true;
                            }
                            if (technologies[i].tech_level == "mideator") {
                                document.getElementById(`${technologies[i].tech_name}mideator`).checked = true;
                            }
                            if (technologies[i].tech_level == "expert") {
                                document.getElementById(`${technologies[i].tech_name}expert`).checked = true;
                            }
                        }
                    }
                </script>
</body>

</html>